body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f1ec;
  color: #12344d;
}

#root {
  min-height: 100vh;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
}

nav h2 {
  margin: 0;
  color: #0f4c5c;
  font-size: 30px;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  background-color: #0f4c5c;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  opacity: 0.9;
}

/* HOME */

.home-container {
  padding: 100px 60px;
}

.home-container h1 {
  font-size: 72px;
  margin-bottom: 10px;
  color: #12344d;
}

.home-container p {
  font-size: 22px;
  color: #5b6b7a;
  margin-bottom: 30px;
}

/* EXPLORE */

.explore-container {
  padding: 50px 60px;
}

.explore-container h1 {
  font-size: 56px;
  margin-bottom: 10px;
}

.search-box {
  margin: 30px 0;
}

.search-box input {
  width: 320px;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: white;
  font-size: 14px;
}

.filter-buttons {
  margin-bottom: 40px;
}

/* EVENT GRID */

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

/* CARD */

.event-card {
  background: white;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.category {
  background-color: #0f4c5c;
  color: white;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 13px;
}

.event-card h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 32px;
  color: #12344d;
}

.event-card p {
  margin: 10px 0;
  color: #5b6b7a;
  font-size: 16px;
}

/* FOOTER */

footer {
  margin-top: 60px;
  padding: 30px;
  text-align: center;
  background: white;
  border-top: 1px solid #e5e5e5;
  color: #5b6b7a;
}